<html>
  <head>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="rDA+P2b+rrvBZuYmZiypMllNUCo/xZshDk9FTXQx1aan+0L06M9L+2dWOtHVeOrhKyFuX6X++OJawSijCUtp2Q==" />

    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload" />
    <script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <p id="notice"></p>

<h1>Books</h1>
  <tbody>
    <% @books.each do |list| %>
<h2>title</h2>
<p><%= list.title %></p>
<h2>body</h2>
<p><%= list.body %></p>
 <%= link_to "詳細", book_path(list.id)%>
 <%= link_to "編集", edit_book_path(list.id) %>
 <%= link_to "削除", book_path(list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>

<h2>New book</h2>
<!-- form_with部分 -->
<%= form_with model: @book,local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>

<% end %>




  </div>
</form>
  </body>
</html>
